{% extends "base.html" %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Create order{% endblock %}</title>
</head>
<body>

    {% block content %}

        <div class="mb-4"></div>

        <div class="mb-4">
            <div class="card">
                <div class="card-body">
                    <h3>Create order - Step 1</h3>
                    <form method="post" action="{% url 'select_dealership' %}">
                        {% csrf_token %}
                        {% bootstrap_form form layout='horizontal' %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

    {% endblock %}

</body>
</html>